/* Ersteller: Timo Iwan */

/* Tabs mit radio-Buttons Inspiration Quelle W3 */
.tabbed figure {
	display: block;
	margin-left: 300px;
	clear: both;
}

.tabbed>input, .tabbed figure>div {
	display: none;
}

.tabbed figure>div {
	padding: 20px;
	width: 77.5%;
	line-height: 1.5em;
	letter-spacing: 0.3px;
	color: #444;
}

#tab1:checked ~ figure .tab1, #tab2:checked ~ figure .tab2, #tab3:checked 
	~ figure .tab3 {
	display: block;
}



nav label {
	float: left;
	padding: 15px 15px;
	background-color: #87CEFA;
	color: white;
	font-family: arial;
}

nav label:nth-child(1) {
	margin-left: 300px;
}

nav label:hover {
	filter: grayscale(60%);
}

nav label:active {
	background: #ffffff;
}

#tab1:checked ~ nav label[for="tab1"], #tab2:checked ~ nav label[for="tab2"],
	#tab3:checked ~ nav label[for="tab3"] {
	background: white;
	color: #111;
	position: relative;
	border-bottom: none;
}

#tab1:checked ~ nav label[for="tab1"]:after, #tab2:checked ~ nav label[for="tab2"]:after,
	#tab3:checked ~ nav label[for="tab3"]:after {
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: white;
	left: 0;
	bottom: -1px;
}

/* TAB ENDE */
body {
	background-image: url("../img/hintergrund.png");
 	background-size: cover;
 	font-family: arial;
	background-attachment: fixed;
}

img {
	border-radius: 20px;
	
}

.text-block{
	font-family: arial;
	
}

img:hover {
	box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
	filter: grayscale(60%);
}

h1 {
	font-size: 20px;
	font-family: arial;
	margin-left: 50px;
	text-align: left;
}

h2 {
	font-size: 20px;
	font-family: arial;
	margin-left: 50px;
	text-align: left;
}

h3 {
	font-size: 20px;
	font-family: arial;
	margin-left: 50px;
	text-align: left;
}

h4 {
	font-size: 40px;
	font-family: arial;
	margin-left: 50px;
}



p {
	margin-left: 22%;
}

/* BILD LINK */
.container {
  
  
  margin-left: 22%;
}
.abstand{
	margin-left: 22%;
}

.centered {
  position: relative;
	font-family: arial;
	font-size: 18px;
  left: 10%;
  transform: translate(3%, -135%);
  color:white;
  display: flex;
pointer-events: none;


}

.div{
	display: flex;
	flex-wrap:wrap;
	
}

.fahrtlinks{
	margin-left: 22%;
	display: flex;
	flex-wrap:wrap;
	padding: 2px;
	border-collapse: separate;
  	border-spacing: 15px;
}

.box{
	background:rgba(80,80,80,0.7);
	padding: 7px;
	border-radius: 20px;
	display: flex;
	padding-right: 35px;
	
}

/* link design */
.headers {
	background:rgba(135,206,250,0.7);
	color: white;
	
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 12%;
	text-align: left;
	margin-left: 18%;
	margin-right: 10%;
}
.headers2 {
	background:rgba(135,206,250,0.7);
	color: white;
	
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 12%;
	text-align: left;
	
	margin-right: 10%;
}
a {
	color: white;
}


.button {
	border: 0;
	float: none;
	background-color: #ff8040;
	display: inline-block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ff8040;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}



.button[type="submit"]:hover {
	background: #2ecc71;
}

.button[type="reset"]:hover {
	background: #ff8040;
}
#date {
	visibility:hidden;
}

.dot1 {
  height: 25px;
  width: 25px;
  background-color: #00ff00;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 25px;
  width: 25px;
  background-color: #ff8000;
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  height: 25px;
  width: 25px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}