/* Ersteller: Emre Ekici */

body {
	font-family: arial;
	background-image: url("../img/hintergrund.png");
	background-size: cover;
	background-attachment: fixed;
}

section h2 {
	color: #34495e;
	text-transform: uppercase;
	font-weight: 500;
	position: center;
	margin-left: 10%;
	font-weight: bold;
	font-size: 180%;
}

button {
	border: 0;
	float: none;
	background-color: #ff8040;
	display: inline-block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ff8040;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

input, textarea{
	border: 0;
	background-color: #3498db;
	margin: 20px auto;
	text-align: center;
	border: 4px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

input[type="text"]:focus {
	width: 280px;
	border-color: #2ecc71;
}

input[type="radio"] {
	width: 10px;
}

button[type="submit"]:hover {
	background: #2ecc71;
}

button[type="reset"]:hover {
	background: #ff8040;
}

option {
	background: none;
	color: #3498db;
	border-radius: 24px;
}

section select {
	background: none;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 280px;
	outline: none;
	color: #34495e;
	border-radius: 24px;
	transition: 0.25s;
}

label {
	color: #3498db
}

section {
	margin: auto;
	text-align: center;
}

section:div {
	display: inline-block;
	align-items: stretch;
}

section form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input::placeholder, textarea::placeholder{
	color: white;
}




