/* Ersteller: Emre Ekici */

.header {
	text-align: left;
	background: #87CEFA;
	color : white;
	font-size: 40px;
	font-family: arial;
	opacity: 0.6;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
}

.logout, .logo {
	background-color: #87CEFA;
	border: none;
	cursor: pointer;
}

#close-image img {
	height: 65px;
	width: 50px;
}

#logo img {
	height: 80px;
	width: 65px;
}


button[type="submit"] {
	border: 0;
	float: none;
	background-color: #ff8040;
	display: inline-block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ff8040;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

input[type="search"] {
	border: 0;
	background-color: #3498db;
	margin: 20px auto;
	text-align: center;
	border: 4px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

input[type="search"]:focus {
	width: 280px;
	border-color: #2ecc71;
}


