/* Ersteller: Emre Ekici */

.header {
	text-align: left;
	background: #87CEFA;
	color : white;
	font-size: 30px;
	font-family: arial;
	opacity: 0.6;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
}