/* Ersteller: Patrick Eibel */

body{
  margin: 0;
  padding: 0;
  font-family: arial;
background-image: url("../img/hintergrund.png");
}

 h1{
  color: #80ff80;
  text-transform: uppercase;
  font-weight: 500;
    text-align: center;
}
p{
	text-align: center;
}

button {
   border:0;
   float: none;
  background-color: #ff8040;
  
  display:inline-block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff8040;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.button-group{
text-align:center;
}


input[type=text], input[type="password"], input[type="email"], input[type="chechbox"], input[type="label"] {
	 border:0;
  background-color: #3498db;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 4px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
	}


input[type = "text"]:focus, input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
input[type = "submit"]:hover{
  background: #2ecc71;
}

input[type = "submit"]{
  border:0;
  background-color: #ff8040;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff8040;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}


input[type = "reset"]:hover{
  background: #ff8040;
}